body{
background: #EEF5E6;
margin: 25px;
}

.header{
    font-size: 45px;
}

.line{
    border: 4px solid black;
}

div.polaroid {
    width: 45%;
    background-color: white;
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 gray;
    /* margin-bottom: 25px; */
    display: block;
    margin: left;
    /* margin: 75px; */  
}
  
div.container {
    text-align: center;
    padding: 10px 20px;
}

/* SWITCH */
.switch{
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;

    after
}

span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}